In [2]:
#import libraries
import pandas as pd
import numpy as np

In [3]:
# open csv
df = pd.read_csv('bby_sell.csv')
df.head()

  Trans_Date   Ins_ID
0  8/11/2003  1006394
1  8/13/2003  1201532
2  8/22/2003  1191190
3  9/10/2003  1006394
4  10/7/2003  1193651

In [4]:
# convert transaction date to datetime in pandas
df['Trans_Date']=pd.to_datetime(df['Trans_Date'])
df.head(10)

397

In [5]:
# 
df['nth_bool']= df.sort_values(by=['Ins_ID', 'Trans_Date']).groupby('Ins_ID')['Trans_Date'].diff().lt('10d')
df['index']=df.reset_index().index+1
df['index_1']= df.groupby('Ins_ID')['index'].shift(fill_value=0)
df.head(len(df))

    Trans_Date   Ins_ID  nth_bool  index  index_1
0   2003-08-11  1006394     False      1        0
1   2003-08-13  1201532     False      2        0
2   2003-08-22  1191190     False      3        0
3   2003-09-10  1006394     False      4        1
4   2003-10-07  1193651     False      5        0
..         ...      ...       ...    ...      ...
392 2023-06-01  1872242     False    393      382
393 2023-06-01  1872045     False    394      388
394 2023-06-01  1639859     False    395      387
395 2023-06-27  1006394     False    396      378
396 2023-07-25  1006394     False    397      396

[397 rows x 5 columns]

In [64]:
df.to_csv('index_bby_sell.csv')